body {
  font-size: 16px;
  color:  #000;
  background-color: #EEEEEE;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #046;
  border-radius: 0;
  border: 0;
}

#img-car{
	box-shadow: 0px 5px 4px 0px  #555555;
	border: 1px solid #EEE;
	margin-top:15px;
	margin-bottom: 30px;
}


.navbar-brand {
  padding-top: 25px;

}

.navbar-brand h1 { /* RHSF name */
  font-family: 'Lora', serif;
  color: #AFF;
  font-size: 2.1em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: -15px;
  margin-bottom: 0;
  padding-top: 15px;
  line-height: .75;
  padding-left: 15px;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand p { /* Solution at your Doorstep */
  color: #AFF;
  text-transform: uppercase;
  font-size: .7em;
  margin-top: 15px;
  padding-left: 15px;
}
.navbar-brand p span { /* Tiny home */
  vertical-align: middle;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  border :1px solid grey;
  background-color :#7FF;
  padding-bottom: 5px;
  color :#000;


}
#nav-list a span {
  font-size: 1em;
}

#phone {
  margin-top: 0px;
  font-size :2.0vw;

}
#phone a { /* Phone number */
  text-align: right;
  padding :6px;
  color: #AFF;
}
#phone div { /* We Deliver */
  color: #AFF;
  text-align: right;
  padding-right: 15px;
}

#signup{
	margin-top:10px;
	  color: #AFF;
	  font-size:1.6vw;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */

.dropdown {
    position: relative;
    display: inline-block;
}
/* NAVBAR */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    color: #D9853B;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    opacity: 0.75;
    z-index: 1000;


}
#dropdown-text{
  font-size: 1.1em;
 margin :10px;
 

}


.dropdown:hover .dropdown-content {
    display: block;
   margin: 10px;
    background-color: #222;
}


/*JUMBOTRON*/

#main-navbar{
	margin-top:-18px;
	margin-bottom: 10px;
	border: 2px;
	background-color: #ECECEA;
	box-shadow: 2px 2px 2px grey;
	font-size: 2em;
	padding: 10px;
 	
}

/*FOOTER */

#share-buttons img {
width: 35px;
padding: 5px;
border: 0;
box-shadow: 0;
display: inline;
}

#follow-icons{
	padding: 10px;
}

#reliable-tile, #convenient-tile, #affordable-tile{
	height: 250px;
	width: 100%;
	margin-bottom: 30px;
	position: relative;
	border: 1px solid black;
	background-color: #D9853B;
	margin-left: 5px;


}

#reliable-tile span , #affordable-tile span, #convenient-tile span{
	position: absolute;
	bottom: 0;
	font-size: 1.6em;
	text-transform: uppercase;
	background-color:#000;
	color :#FFF;
	opacity: 0.6;
	text-align: center;
	margin-left: -110px;
}

.text1{
 	margin-top:30px;

}
#footer-cont{
	
	width: 100%;
	background-color: #046;
}
/********** Large devices only **********/

@media (min-width: 1200px) {
#logo-img {
	 background: url('../images/logo-image.png') no-repeat;
	 height :70px;
	 width : auto;
}



}

/********** Medium devices only **********/

@media (min-width: 992px) and (max-width: 1199px) {
  
  #logo-img {
    background: url('../images/logo-image-md.png') no-repeat;
    width: 200px;
    height: 70px;
    margin: 10px 5px 5px 0;
  }
  /* End Header */
	
#phone {
  margin-top: 5px;
  margin-right: 50px;
  
}
#phone a { /* Phone number */
  text-align: right;
  padding-bottom: 0;
	font-size: 2.2vw;
}
#phone div { /* Call us */
  color: #7FF;
  text-align: right;
  padding-right: 15px;
  font-size: 2.5vw;
}



}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

#phone {
 
  margin: 5px -50px 0px 0px;
  
}
#phone a { /* Phone number */
  text-align: right;
  padding-bottom: 0;
  font-size: 2.5vw;
  margin: 5px 0px 0px 0px;

  
}
#phone div { /* We Deliver */
 
  text-align: right;
  font-size : 1.2vw;
 margin: 5px 50px 0px 0px;
 font-size: 2.5vw;
}

.navbar-brand h1 { /* RHSF Solutions*/
    padding-top: 15px;
    font-size: 2.2vw; /* 1vw = 1% of viewport width */


  }
  .navbar-brand p { /* Solution at your doorstep */
    font-size: .7em;
    margin-top: 15px;
  }
  .navbar-brand p img { /* Tiny homme */
    height: auto;
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 15px;


  }


}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 70px;
  }
  .navbar-brand h1 { /* RHSF Solutions*/
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
  .navbar-brand p { /* Solution at your doorstep */
    font-size: .6em;
    margin-top: 15px;
  }
  .navbar-brand p img { /* Tiny homme */
    height: auto;
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 15px;


  }

 .dropdown {
    position: relative;
    display: inline-block;
}
/* Nav bar */
.dropdown-content {
    display: none;
    position: relative;
    background-color: #f9f9f9;
    color: #D9853B;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    opacity: 0.75;
    z-index: 1000;

}
 	
  #call-btn > a {
    font-size: 1.5em;
    display: block;
    margin: 0 20px;
    padding: 10px;
    border: 2px solid grey;
    background-color: #D9853B; /* Orange*/
    color: #AFF;
    margin-bottom: 23px;
  }

  #xs-deliver {
    margin-top: 5px;
    font-size: .7em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  /* End Header */

}
